{% extends 'base.html' %}

{% block title %}Update user profile - {{ profile.first_name}} {{ profile.last_name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_profile' user.id %}">{{ profile.first_name }} {{ profile.last_name}}</a></li>
    <li class="breadcrumb-item active">Update profile</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Update</button>
    </form>
{% endblock %}