<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Doctor</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                <th scope="row">{{ appointment.startDateTime|date:"SHORT_DATE_FORMAT" }}</th>
                <td>{{ appointment.startDateTime|date:"H:i" }} - {{ appointment.endDateTime|date:"H:i" }}</td>
                <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                <td>{{ appointment.status.statusTitle }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Your family doctor doesn't have active appointments.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
