{% extends 'home.html' %}
{% load static %}

{% block title %}Update appointment{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Update appointment</li>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Update</button>
    </form>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/new_appointment.js' %}"></script>
{% endblock %}
